@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  text-transform: capitalize;
  font-weight: 700;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  color: #fff;
  font-size: 100px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
}

.color-btn {
  margin: 10px;
  background: transparent;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
  border: 0;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  transition: all 0.2s ease;
  position: relative;
}

.color-btn::before,
.input-color::before {
  content: "";
  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
.color-btn:active::before,
.input-color::before {
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0);
}

.random-color-btn:active,
.input-color:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
  border: 0;
}

.input-color {
  margin: 10px;
  background: transparent;
  border: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  transition: all 0.2s ease;
  position: relative;
  color: rgba(255, 255, 255, 0.1);
}

.input-color::placeholder {
  color: rgba(255, 255, 255, 0.1);
}

.text-label {
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
  font-size: 30px;
}

.gif {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fef2e6;
}

@media (max-width: 500px) {
  .text-label {
    font-size: 17px;
    text-align: center;
  }
  .input-color {
    width: 300px;
    height: 50px;
  }

  .text {
    font-size: 30px;
  }

  .color-btn {
    padding: 10px;
  }
}
